body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Aligns children on opposite ends */
    align-items: center; /* Centers children vertically */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; /* Updated padding for consistent spacing */
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    width: 120px;
    background-color: #f4f4f4;
    padding: 20px;
    height: calc(100% - 20px); /* Adjust based on padding */
    overflow-y: auto;
}

main {
    flex: 1;
    padding: 20px;
    position: relative;
}

#monthList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#monthList li:hover {
    background-color: #ddd;
}
.month-item {
    padding: 8px;
    margin-bottom: 2px;
}

.selected-month {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}


button#logoutBtn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#logoutBtn:hover {
    background-color: #8a2c1c; /* Darker shade for hover effect */
}

button#addExpenseBtn {
    position: absolute; /* Positions the button relative to the main container */
    top: 3px; /* Aligns the button to the top of the main content */
    left: 20px; /* Aligns the button to the left of the main content */
    padding: 8px 16px;
    font-size: 16px;
    background-color: #1881f9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#addExpenseBtn:hover {
    background-color: #2d16da; /* Darker shade for hover effect */
}
button.deleteBtn {
    
    padding: 8px 8px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.deleteBtn:hover {
    background-color: #8a2c1c;
}
#addMonthBtn {
    padding: 8px 8px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#addMonthBtn:hover {
    background-color: #026016;
}

#categoryBtn {
    position: absolute; /* Positions the button relative to the main container */
    top: 3px; /* Aligns the button to the top of the main content */
    left: 150px; /* Aligns the button to the left of the main content */
    padding: 8px 16px;
    font-size: 16px;
    background-color: #1881f9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-transform: uppercase;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Expense modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Modern shadow */
    border-radius: 8px; /* Rounded corners */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#expenseForm, #categoryForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#expenseForm label, #expenseForm input, #expenseForm select, #categoryForm label, #categoryForm input{
    margin-bottom: 10px;
    width: 100%;
}

#expenseForm label {
    margin-bottom: 5px; /* Smaller margin for label */
    font-weight: bold; /* Make labels bold */
}

#expenseForm input, #expenseForm select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}