body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Aligns children on opposite ends */
    align-items: center; /* Centers children vertically */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; /* Updated padding for consistent spacing */
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    width: 120px;
    background-color: #f4f4f4;
    padding: 20px;
    height: calc(100% - 20px); /* Adjust based on padding */
    overflow-y: auto;
}

main {
    flex: 1;
    padding: 20px;
    position: relative;
}

#monthList {
    list-style-type: none; /* Removes bullet points */
}


#monthList li {
    padding: 10px, 10px, 10px,0px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-left: -50px;
}

#monthList li:hover {
    background-color: #ddd;
}
.month-item {
    padding: 8px;
    margin-bottom: 2px;
}

.selected-month {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}


button#logoutBtn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#logoutBtn:hover {
    background-color: #8a2c1c;
}

button#botBtn{
    padding: 8px 16px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
}

button#botBtn:hover {
    background-color: darkblue;
}

button#addExpenseBtn {
    position: absolute; /* Positions the button relative to the main container */
    top: 3px; /* Aligns the button to the top of the main content */
    left: 20px; /* Aligns the button to the left of the main content */
    padding: 8px 16px;
    font-size: 16px;
    background-color: #1881f9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#addExpenseBtn:hover {
    background-color: #2d16da; /* Darker shade for hover effect */
}
button.deleteBtn {
    
    padding: 8px 8px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.deleteBtn:hover {
    background-color: #8a2c1c;
}
#addMonthBtn {
    padding: 8px 8px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#addMonthBtn:hover {
    background-color: #026016;
}

#categoryBtn {
    position: absolute; /* Positions the button relative to the main container */
    top: 3px; /* Aligns the button to the top of the main content */
    left: 150px; /* Aligns the button to the left of the main content */
    padding: 8px 16px;
    font-size: 16px;
    background-color: #1881f9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#categoryBtn:hover {
    background-color: darkblue;
}

.deleteMonthBtn {
    top: 3px; /* Aligns the button to the top of the main content */
    padding: 8px 16px;
    font-size: 16px;
    background-color: red;
    color: black;
    border-radius: 100px;
    cursor: pointer;
    margin: 8px;
}

.deleteMonthBtn:hover {
    background-color: darkred;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-transform: uppercase;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Expense modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Modern shadow */
    border-radius: 8px; /* Rounded corners */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#expenseForm, #categoryForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#expenseForm label, #expenseForm input, #expenseForm select, #categoryForm label, #categoryForm input{
    margin-bottom: 10px;
    width: 100%;
}

#expenseForm label {
    margin-bottom: 5px; /* Smaller margin for label */
    font-weight: bold; /* Make labels bold */
}

#expenseForm input, #expenseForm select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Additional Modal styles for Chat */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10; /* Ensures modal is on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Dimmed background */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 80%; /* Responsive width */
    max-width: 450px; /* Maximum width */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

#exampleText {
    color: #444;
    font-size: 0.9em;
    padding: 10px;
    background-color: #f1f1f1;
    margin: 10px 0;
    border-radius: 4px;
}

.chat-messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 5px;
    margin-bottom: 10px;
}

.input-field, button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
}

.input-field {
    width: calc(70% - 20px);
    margin-right: 10px;
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
    aside {
        width: 100px; /* Smaller width for sidebar */
    }

    header, .container, main {
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch; /* Align items to stretch to container width */
    }

    main {
        height: auto; /* Adjust height for scrollable content */
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    aside {
        width: 80px; /* Even smaller sidebar */
        padding: 10px;
    }

    header {
        flex-direction: column;
        padding: 5px 10px; /* Reduce padding */
    }

    main {
        padding: 10px;
    }

    .modal-content {
        width: 90%; /* Use more of the screen for modals */
    }

    button, .input-field {
        width: 100%; /* Full width buttons and input fields */
        margin-top: 10px;
    }

    #monthList li {
        margin-left: 0; /* Adjust margin */
    }
    .deleteMonthBtn {
        top: 3px; /* Aligns the button to the top of the main content */
        padding: 8px 8px;
        font-size: 16px;
        background-color: red;
        color: black;
        border-radius: 100px;
        cursor: pointer;
        margin: 8px;
    }
}

